<%= render partial: "shared/title", locals: {title: "Invite Guest"} %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Available Tasters</h4>
  </div>
    <div class="list-group">
      <% @tasters.each do |t| %>
        <% if t.active? && !@tasting.tasters.include?(t) %>
          <div class="list-group-item clearfix">
            <% if t == current_host.taster %>
              You<%= link_to "Confirm", tasting_guests_create_and_confirm_path(@tasting.id, t.id), class:"btn btn-success pull-right", method: :put %>
            <% else %>
              <%= t.name %>
              <div class="btn-group pull-right">
                <%= link_to "Profile", taster_path(t), class:"btn btn-default" %>
                <%= link_to "Confirm", tasting_guests_create_and_confirm_path(@tasting.id, t.id), class:"btn btn-success", method: :put %>
                <%= link_to "Invite", tasting_guests_existing_invite_path(@tasting.id, t.id), class:"btn btn-primary", method: :put %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Invite New Taster</h4>
  </div>
  <div class="panel-body">
    <%= form_for @user, url: tasting_guests_new_invite_path(@tasting, @user) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Send", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back to Edit Tasting', edit_tasting_path(@tasting), html_options: {style: "margin-bottom: 4rem"}, class:"btn btn-default" %>
