
    <h2>
      <%= @guest.tasting.host.taster.name %> has invited you to a Yno Tasting Party!
    </h2>
    <p>
      <strong>Name:</strong> <%= @guest.tasting.name %><br/>
      <strong>Host:</strong> <%= @guest.tasting.host.taster.name %><br/>
      <strong>When:</strong> <%= @local_open_at %><br/>
      <strong>Where:</strong> <%= @guest.tasting.location.to_short_string %><br/>
      <strong>Description:</strong> <%= @guest.tasting.description %>
    </p>
    <p>
      You can join this tasting by clicking <a href="<%= @url %>">view invitation</a>.
    </p>
