<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @taster.id %>
      <h2>
        Yno Taster: <%= @taster.name %> <small>(<%= @taster.handle %>)</small><br>
        Email: <%= @taster.user.email %><br>
        Status: <%= @taster.status %><br>
        Host: <%= @taster.host.present? ? "yes" : "no" %><br>
        Reviews: <%= @taster.wine_reviews.count %>
      </h2>
    <% else %>
      <h2>
        Yno Visitor: <%= @taster.name %>
      </h2>
    <% end %>
    <p>Posted On: <%= Time.now.in_time_zone("Pacific Time (US & Canada)").strftime("%a, %b %-d %Y %I:%M%P %Z") %><br>
    Reply to: <%= @email %></p>
    <p><%= @content %></p>
  </body>
</html>
