<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      <%= @taster.name %>, you've been invited to a Yno Tasting Party!
    </h2>
    <p>
      <strong>Name:</strong> <%= @tasting.name %><br/>
      <strong>Host:</strong> <%= @tasting.host.taster.name %><br/>
      <strong>When:</strong> <%= @tasting.open_at.strftime("%A, %B %-d at %l:%M%P") %><br/>
      <strong>Where:</strong> <%= @tasting.location.to_short_string %><br/>
      <strong>Description:</strong> <%= @tasting.description %>
    </p>
    <p>
      You can join this tasting by following this link: <%= @url %> and clicking "confirm" in your tasting invitations.
    </p>
  </body>
</html>
