<%= render partial: "shared/title", locals: {title: @taster.name} %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Taster Profile</h4>
  </div>
  <div class="panel-body">
    <p><strong>Handle:</strong> <%= @taster.handle %></p>
    <p><strong>Email:</strong> <%= @taster.user.email %></p>
  </div>
</div>

<% if !@taster.guests.empty? %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Tasting History</h4>
  </div>
  <div class="list-group">
    <% @taster.guests.each do |g| %>
      <li class="list-group-item">
        <%= g.tasting.name %>
        <%= tasting_badge(g.tasting) %>
      </li>
    <% end %>
  </div>
</div>
<% end %>

<%= link_to "Back", :back, class: "btn btn-default" %>
