<%= form_for(tasting) do |f| %>
  <% if tasting.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(tasting.errors.count, "error") %> prohibited this tasting from being saved:</h2>

      <ul>
      <% tasting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :open_at, class: "form-label" %>
    <%= f.datetime_select :open_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :close_at, class: "form-label" %>
    <%= f.datetime_select :close_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary btn-block btn-lg" %>
  </div>

<% end %>
