<%= form_for(tasting) do |f| %>
  <% if tasting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tasting.errors.count, "error") %> prohibited this tasting from being saved:</h2>

      <ul>
      <% tasting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="open_at" class="form-label">Begins At:</label>
    <input class="form-control" type="datetime-local" id="open_at">
  </div>

  <div class="form-group">
    <label for="close_at" class="form-label">Ends At:</label>
    <input class="form-control" type="datetime-local" id="close_at">
  </div>

  <div class="form-group">
    <%= f.submit "Create Tasting", class: "btn btn-primary btn-block btn-lg" %>
  </div>

<% end %>
