<%= render partial: "shared/title", locals: {title: @tasting.name} %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Tasting</h4>
  </div>
  <div class="panel-body">
    <%= render 'form', tasting: @tasting %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Wines </h4>
  </div>
  <div class="list-group">
    <% @tasting.tasting_wines.each do |tw| %>
      <div class="list-group-item clearfix">
        <%= tw.wine.full_name %>
        <div class="btn-group pull-right">
          <%= link_to "Profile", tasting_wine_path(tw), class: "btn btn-default" %>
          <% if !tasting_has_reviews?(@tasting) %>
            <%= link_to "Delete", tasting_wine_path(tw),
                class: "btn btn-danger",
                data: { confirm: "Remove this wine and its ratings from tasting?" },
                method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to "Add Wine", tasting_wines_new_path(@tasting), class: "btn btn-success" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Guests </h4>
  </div>
  <div class="list-group">
    <% @tasting.guests.each do |g| %>
      <div class="list-group-item clearfix <%= 'list-group-item-danger' if !g.confirmed? %>">
        <% if g.taster.pending? %>
          <%= g.taster.user.email %> <small>(new taster account pending)</small>
        <% else %>
          <%= g.taster.name %>
          <div class="btn-group pull-right">
            <%= link_to "Profile", taster_path(g.taster), class: "btn btn-default" %>
            <% if g.confirmed? %>
              <%= link_to "Delete", guest_path(g),
                  class: "btn btn-danger",
                  data: { confirm: "Remove this taster and their ratings from tasting?" },
                  method: :delete %>
            <% end %>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to "Add Guest", tasting_guests_new_path(@tasting), class: "btn btn-success" %>
  </div>
</div>

<div style="margin-top: 4rem; margin-bottom: 4rem">
  <%= link_to 'Back to Tasting', @tasting, class:"btn btn-default " %>
  <%= link_to 'Close Tasting', close_tasting_path(@tasting),
    class: "btn btn-primary",
    data: { confirm: "Close tasting and end all reviews?" },
    method: :put %>
  <%= link_to 'Delete Tasting', @tasting,
    class:"btn btn-danger",
    data: { confirm: "Cancel tasting and all reviews?" },
    method: :delete %>
</div>
