<%= render partial: "shared/title", locals: {title: "Tastings"} %>

<div class="panel panel-default">
    <% if current_host %>
      <%= link_to "Host a New Tasting", new_tasting_path, class: "btn btn-success btn-block" %>
    <% else %>
      <%= link_to "Host Your Own Tasting Party. It's Free!", hosts_create_path(current_taster), method: :put, class: "btn btn-success btn-block" %>
    <% end %>
</div>

<% if current_host && !current_host.tastings.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Hosted Tastings</h4>
    </div>
    <div class="list-group list-group-flush">
      <% current_host.tastings.each do |t| %>
        <%= link_to t, class:"list-group-item list-group-item-action justify-content-between" do %>
          <%= t.name %>
          <%= tasting_badge(t) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if taster_has_invitations?(current_taster) %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Upcoming Tasting Invitations</h4>
    </div>
    <div class="list-group list-group-flush">
      <% current_taster.guests.each do |g| %>
        <% if g.invitation_open? %>
          <%= link_to guest_confirm_path(g), class: "list-group-item  list-group-item-action justify-content-between", method: :put do %>
            <%= g.tasting.name %>
            <span class="badge badge-default badge-pill">confirm</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if taster_has_tastings?(current_taster) %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Upcoming Confirmed Tastings</h4>
    </div>
    <div class="list-group list-group-flush">
      <% current_taster.guests.each do |g| %>
        <% if g.tasting_confirmed? %>
          <%= link_to g.tasting, class: "list-group-item  list-group-item-action justify-content-between" do %>
            <%= g.tasting.name %>
            <%= tasting_badge(g.tasting) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if !@public_tastings.empty? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Upcoming Public Tastings</h4>
    </div>
    <div class="list-group list-group-flush">
      <% @public_tastings.each do |t| %>
        <%= link_to t, class:"list-group-item list-group-item-action justify-content-between" do %>
          <%= t.name %>
          <%= tasting_badge(t) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
