<%= render partial: "shared/title", locals: {title: "Tastings"} %>

<div class="card">
  <% if current_host %>
    <%= link_to "Host a New Tasting", new_tasting_path, class: "btn btn-success" %>
  <% else %>
    <%= link_to "Host Your Own Tasting Party. It's Free!", new_host_path, class: "btn btn-success" %>
  <% end %>
</div>

<% if current_host && !current_host.tastings.empty? %>
  <div class="card mt-4">
    <div class="card-header">
      Your Hosted Tastings
    </div>
    <div class="list-group list-group-flush">
      <% current_host.tastings.each do |t| %>
        <%= link_to t.name, t, class:"list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if !current_taster.tastings.empty? %>
  <div class="card mt-4">
    <div class="card-header">
      Your Guest Tastings
    </div>
    <div class="list-group list-group-flush">
      <% current_taster.tastings.each do |t| %>
        <a href class="list-group-item list-group-item-action"><%= t.name %></a>
      <% end %>
    </div>
  </div>
<% end %>

<% if !@public_tastings.empty? %>
  <div class="card mt-4">
    <div class="card-header">
      Upcoming Public Tastings
    </div>
    <div class="list-group list-group-flush">
      <% @public_tastings.each do |t| %>
        <a href class="list-group-item list-group-item-action"><%= t.name %></a>
      <% end %>
    </div>
  </div>
<% end %>
