<%= render partial: "shared/title", locals: {title: @tasting.name} %>

<div class="well well-sm <%= tasting_status(@tasting) %>">
  <h4>Status: <%= @tasting.status %></h4>
</div>

<% if @tasting.tasters.include?(current_taster) && @tasting.is_open? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        Reviews
      </h4>
    </div>
    <% if taster_has_reviews?(@tasting, current_taster) %>
      <% latest_review = taster_last_review(@tasting, current_taster) %>
      <div class="panel-body">
        <div class="well">Your Last review was <%= latest_review.to_string %></div>
      </div>
    <% end %>
    <div class="list-group">
      <% @tasting.wine_reviews.each do |wr| %>
        <% if wr.taster == current_taster %>
          <%= link_to edit_wine_review_path(wr), class: "list-group-item list-group-item-action" do %>
            Wine <%= wr.wine_number %>
            <% if wr.unrated? %>
              <span class="badge">unrated</span>
            <% else %>
              <span class="badge <%= review_badge_color(wr.rating) %>"><%= wr.rating %></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Tasting Details</h4>

  </div>
  <div class="panel-body">

    <h4>Host</h4>
    <p><%= @tasting.host.taster.name %></p>
    <hr/>
    <h4>When</h4>
    <p><strong>Start time:</strong> <%= @tasting.open_at.getlocal.strftime("%A, %B %-d at %l:%M%P %Z") %>
    <% if !@tasting.close_at.nil? %>
      <br/><strong>Stop time:</strong> <%= @tasting.close_at.getlocal.strftime("%A, %B %-d at %l:%M%P %Z") %>
    <% end %>
    </p>
    <hr/>

    <% if !@tasting.description.nil? %>
      <h4>Description</h4>
      <p><%= @tasting.description %></p>
      <hr/>
    <% end %>

    <h4>Location</h4>
    <p><%= @tasting.location.to_short_string %></p>
    <hr/>

    <h4>Wines</h4>
    <% if @tasting.tasting_wines.empty? %>
      <p>No wines chosen yet</p>
    <% else %>
      <div class="list-group">
        <% @tasting.tasting_wines.each do |tw| %>
            <%= link_to wine_path(tw.wine), class: "list-group-item" do %>
              <h5><%= tw.wine.full_name %><span class="glyphicon glyphicon-chevron-right pull-right"></span></h5>
              <% if @tasting.is_closed? %>
                <% if tw.wine_number == 0 %>
                  <p>Unrevealed</p>
                <% else %>
                  <p>Wine Number: <%= tw.wine_number %>; Avg. Rating: <%= avg_tasting_wine_rating(tw) %>; Your Rating: <%= guest_tasting_wine_rating(tw, current_taster) %></p>
                <% end %> <!-- tw.wine_number == 0 -->
              <% else %>

              <% end %> <!-- if @tasting.is_closed? -->
            <% end %> <!-- link_to tag -->
        <% end %> <!-- @tasting.tasting_wines.each -->
      </div> <!-- list-group -->
    <% end %> <!-- if @tasting.tasting_wines.empty? -->

    <h4>Guests</h4>
    <% if @tasting.guests.empty? %>
      <p>No guests invited yet</p>
    <% else %>
      <div class="list-group">
        <% @tasting.guests.each do |g| %>
          <%= link_to taster_path(g.taster), class: "list-group-item #{"list-group-item-danger" if !g.confirmed? }" do %>
            <h5>
              <% if g.taster.pending? %>
                <%= g.taster.user.email %> <small>(new user confirmation pending)</small>
              <% else %>
                <%= g.taster.name %> <small>(<%= g.taster.handle %>)</small>
              <% end %>
              <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </h5>
          <% end %> <!-- list-group-item -->
        <% end %> <!-- @tasting.guests.each -->
      </div> <!-- list-group -->
    <% end %> <!-- if @tasting.guests.empty? -->

  </div> <!-- panel-body -->

  <div class="panel-footer">
    <% if @tasting.host==current_host%>
      <%= link_to 'Edit Tasting', edit_tasting_path(@tasting), class: "btn btn-primary" %>
    <% end %>
    <% if @tasting.tasters.include?(current_taster) %>
      <%= link_to "Remove me from this tasting",
        guest_path(current_guest(@tasting, current_taster)),
        class: "btn btn-danger",
        data: { confirm: "Are you sure you want to leave tasting and lose your ratings?" },
        method: :delete %>
    <% end %>
  </div>
</div>
