<%= render partial: "shared/title", locals: {title: @tasting.name} %>

<% if !@tasting.description.blank? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>
        Description
        <% if @tasting.host==current_host %>
          <%= link_to 'Edit Tasting', edit_tasting_path(@tasting), class: "btn btn-default pull-right" %>
        <% end %>
      </h4>
      <p><strong>Start time:</strong> <%= @tasting.open_at.strftime("%A, %B %-d at %l:%M%P") %></p>
      <p><%= @tasting.description %></p>
      <h4 class="card-title">Wines</h4>
      <div class="list-group">
        <% @tasting.tasting_wines.each do |tw| %>
          <%= tw.wine.full_name %></br>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @tasting.tasters.include?(current_taster) %>

  <% if @tasting.is_open? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          Reviews
        </h4>
      </div>
        <div class="list-group">
          <% @tasting.wine_reviews.each do |wr| %>
            <% if wr.taster == current_taster %>
              <%= link_to edit_wine_review_path(wr), class: "list-group-item list-group-item-action" do %>
                Wine <%= wr.wine_number %>
                <% if wr.unrated? %>
                  <span class="badge">unrated</span>
                <% else %>
                  <span class="badge <%= review_badge_color(wr.rating) %>"><%= wr.rating %></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
  <% elsif Time.current < @tasting.open_at %>
    <div class="well">
        <h4>Hold your horses!</h4>
        <p>This tasting will begin in <%= distance_of_time_in_words(Time.current, @tasting.open_at) %></p>
    </div>
  <% end %>

  <% if @tasting.is_closed? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          This tasting is over...
        </h4>
        complete, ended, finished, finito.
      </div>
    </div>
  <% else %>
    <%= link_to "Remove me from this tasting",
      guest_path(current_guest(@tasting, current_taster)),
      class: "btn btn-danger",
      data: { confirm: "Are you sure you want to leave tasting and lose your ratings?" },
      method: :delete %>
  <% end %>

<% end %>
