<%= render partial: "shared/title", locals: {title: "Wine #{@wine_review.wine_number}"} %>

<%= form_for(@wine_review) do |f| %>

  <% if @wine_review.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@wine_review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @wine_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" data-unrated="<%= @wine_review.unrated? %>" >
    <p><strong>Rating</strong></p>
    <%= f.hidden_field :rating %>
    <div class="row">
      <div class="col-sm-1"></div>
      <% (1..5).each do |i| %>
        <div class="col-sm-2">
          <button class="rating_btn btn btn-lg btn-block" data-rating="<%= i %>"><%= rating_label(i) %></button>
        </div>
      <% end %>
      <div class="col-sm-1"></div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comments, class: "form-label" %>
    <%= f.text_area :comments, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary btn-block btn-lg" %>
  </div>

<% end %>
